body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u640 {
  position:absolute;
  left:0px;
  top:0px;
}
#u640_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:400px;
  height:866px;
  background-image:none;
}
#u640_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:866px;
}
#u641 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:866px;
}
#u641_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u642 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:52px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u643 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:420px;
  width:128px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u640_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:400px;
  height:866px;
  visibility:hidden;
  background-image:none;
}
#u640_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:866px;
}
#u644 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:866px;
}
#u644_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u645 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:780px;
  width:376px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u646 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:52px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u640_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:400px;
  height:866px;
  visibility:hidden;
  background-image:none;
}
#u640_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:866px;
}
#u647 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:866px;
}
#u647_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u648 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:780px;
  width:376px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u649 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:52px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
