body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:439px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:3382px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1770px;
  width:400px;
  height:3382px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:fixed;
  left:0px;
  top:0px;
}
#u10_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:816px;
  height:182px;
  background-image:none;
}
#u10_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:149px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:149px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:32px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:56px;
  width:378px;
  height:32px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:65px;
  width:15px;
  height:15px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:59px;
  width:335px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:25px;
  font-family:'.萍方-简 细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:300;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:47px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:92px;
  width:378px;
  height:47px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFD700;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:101px;
  width:41px;
  height:28px;
  font-family:'.萍方-简 细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFD700;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:79px;
  top:98px;
}
#u17_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  background-image:none;
}
#u17_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  font-family:'.萍方-简 细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u17_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  visibility:hidden;
  background-image:none;
}
#u17_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  font-family:'.萍方-简 细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u17_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  visibility:hidden;
  background-image:none;
}
#u17_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  font-family:'.萍方-简 细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:146px;
  touch-action:none;
}
#u21_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:816px;
  height:36px;
  background-image:none;
}
#u21_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u23 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u24_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u24 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:36px;
}
.u24_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u25_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:300;
  font-style:normal;
  font-size:14px;
}
.u25 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:6px;
  width:60px;
  height:25px;
  font-family:'.萍方-简 细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:300;
  font-style:normal;
  font-size:14px;
}
.u25_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 182, 143, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:300;
  font-style:normal;
  font-size:14px;
}
.u25.selected {
}
.u25_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u22-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:36px;
}
#u22-2 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:0px;
  width:68px;
  height:36px;
}
#u22-3 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:0px;
  width:68px;
  height:36px;
}
#u22-4 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:0px;
  width:68px;
  height:36px;
}
#u22-5 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:0px;
  width:68px;
  height:36px;
}
#u22-6 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:0px;
  width:68px;
  height:36px;
}
#u22-7 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:0px;
  width:68px;
  height:36px;
}
#u22-8 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:0px;
  width:68px;
  height:36px;
}
#u22-9 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:0px;
  width:68px;
  height:36px;
}
#u22-10 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:0px;
  width:68px;
  height:36px;
}
#u22-11 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:0px;
  width:68px;
  height:36px;
}
#u22-12 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:0px;
  width:68px;
  height:36px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:816px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:36px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:146px;
  width:65px;
  height:36px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:157px;
  width:6px;
  height:6px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:157px;
  width:6px;
  height:6px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:165px;
  width:6px;
  height:6px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:165px;
  width:6px;
  height:6px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:220px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:186px;
  width:400px;
  height:220px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u35 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:155px;
}
.u36 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:155px;
}
.u36_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:86px;
}
.u37 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:7px;
  width:86px;
  height:86px;
}
.u37_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  font-size:12px;
}
.u38 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:96px;
  width:86px;
  height:34px;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  font-size:12px;
}
.u38_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
.u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:300;
  font-style:normal;
  font-size:10px;
  color:#FF3948;
}
.u39 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:132px;
  width:11px;
  height:14px;
  font-family:'.萍方-简 细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:300;
  font-style:normal;
  font-size:10px;
  color:#FF3948;
}
.u39_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
.u40_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FF3948;
}
.u40 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:131px;
  width:13px;
  height:17px;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FF3948;
}
.u40_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
.u41_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:300;
  font-style:normal;
  font-size:10px;
  color:#FF3948;
}
.u41 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:132px;
  width:21px;
  height:14px;
  font-family:'.萍方-简 细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:300;
  font-style:normal;
  font-size:10px;
  color:#FF3948;
}
.u41_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
.u42_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FF3948;
}
.u42 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:131px;
  width:25px;
  height:17px;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FF3948;
}
.u42_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u34-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:155px;
}
#u34-2 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:0px;
  width:100px;
  height:155px;
}
#u34-3 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:0px;
  width:100px;
  height:155px;
}
#u34-4 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:0px;
  width:100px;
  height:155px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:235px;
  width:418px;
  height:155px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:198px;
  width:50px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:305px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:406px;
  width:400px;
  height:305px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:446px;
  width:77px;
  height:77px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u46 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:446px;
  width:77px;
  height:77px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u47 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:573px;
  width:77px;
  height:77px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u48 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:573px;
  width:77px;
  height:77px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:1043px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:711px;
  width:400px;
  height:1043px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:719px;
  width:376px;
  height:281px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u51 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:1011px;
  width:42px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u52 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:1011px;
  width:62px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u53 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:1065px;
  width:376px;
  height:281px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u54 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:1357px;
  width:42px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u55 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:1357px;
  width:62px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u56 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:1410px;
  width:376px;
  height:281px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u57 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:1702px;
  width:42px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u58 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:1702px;
  width:62px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u60_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 极细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5093px;
  width:400px;
  height:40px;
  font-family:'.萍方-简 极细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:396px;
  word-wrap:break-word;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:1773px;
  width:188px;
  height:296px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u62 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:2118px;
  width:188px;
  height:271px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u63 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:2438px;
  width:188px;
  height:295px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u64 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:1773px;
  width:188px;
  height:296px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u65 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:2139px;
  width:188px;
  height:296px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u66 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:2504px;
  width:188px;
  height:275px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u67 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:2844px;
  width:188px;
  height:274px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u68 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:2783px;
  width:188px;
  height:270px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u69 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:3102px;
  width:188px;
  height:270px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u70 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:3501px;
  width:188px;
  height:270px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u71 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:3441px;
  width:188px;
  height:270px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u72 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:3759px;
  width:188px;
  height:270px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u73 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:3840px;
  width:188px;
  height:270px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u74 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:4179px;
  width:188px;
  height:270px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u75 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4097px;
  width:188px;
  height:270px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u76 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4417px;
  width:188px;
  height:270px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u77 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:4498px;
  width:188px;
  height:270px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u78 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4756px;
  width:188px;
  height:270px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u79_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:80px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5133px;
  width:400px;
  height:80px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:fixed;
  left:0px;
  bottom:0px;
}
#u80_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:400px;
  height:82px;
  background-image:none;
}
#u80_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:82px;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:58px;
  height:58px;
}
#u82_img.selected {
}
#u82.selected {
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:12px;
  width:58px;
  height:58px;
}
#u83_img.selected {
}
#u83.selected {
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:12px;
  width:58px;
  height:58px;
}
#u84_img.selected {
}
#u84.selected {
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:12px;
  width:58px;
  height:58px;
}
#u85_img.selected {
}
#u85.selected {
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:fixed;
  right:5px;
  bottom:86px;
  visibility:hidden;
}
#u86_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background-image:none;
}
#u86_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:26px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:7px;
  width:25px;
  height:26px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:188px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:3181px;
  width:188px;
  height:188px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:3181px;
  width:188px;
  height:270px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u91 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:2069px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u92 {
  position:fixed;
  left:50%;
  margin-left:-70px;
  top:50%;
  margin-top:-27px;
  visibility:hidden;
}
#u92_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:140px;
  height:54px;
  background-image:none;
}
#u92_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u93_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:54px;
  background:inherit;
  background-color:rgba(1, 1, 1, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:54px;
  color:#FFFFFF;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:136px;
  word-wrap:break-word;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:2089px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u95 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:2388px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u96 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:2454px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u97 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:2794px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u98 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:2733px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u99 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:3053px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u100 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:3131px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u101 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:3391px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u102 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:3451px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u103 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:3709px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u104 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:3790px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u105 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:4047px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u106 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:4129px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u107 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:4448px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u108 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:4367px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u109 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:4706px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u110 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:4788px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u111 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:5043px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:0px;
  width:30px;
  height:30px;
}
#u112_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:905px;
  width:30px;
  height:30px;
}
#u113_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:16px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1754px;
  width:400px;
  height:16px;
}
#u114_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:fixed;
  left:0px;
  bottom:0px;
  visibility:hidden;
}
#u115_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:400px;
  height:479px;
  background-image:none;
}
#u115_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:443px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:400px;
  height:443px;
}
#u117_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:33px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:326px;
  width:164px;
  height:33px;
}
#u118_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:33px;
  background:inherit;
  background-color:rgba(238, 252, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u118.selected {
}
#u118_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:160px;
  word-wrap:break-word;
}
#u119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:33px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:326px;
  width:164px;
  height:33px;
}
#u119_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:33px;
  background:inherit;
  background-color:rgba(238, 252, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119.selected {
}
#u119_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:160px;
  word-wrap:break-word;
}
#u120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:18px;
  background:inherit;
  background-color:rgba(254, 239, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#CC6132;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:139px;
  width:100px;
  height:18px;
  font-family:'.萍方-简 细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#CC6132;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  font-size:16px;
  color:#FF3948;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:106px;
  width:17px;
  height:22px;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  font-size:16px;
  color:#FF3948;
}
#u121_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Albertus Extra Bold', 'Albertus Medium', 'Albertus';
  font-weight:800;
  font-style:normal;
  font-size:22px;
  color:#EB3212;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:101px;
  width:54px;
  height:27px;
  font-family:'Albertus Extra Bold', 'Albertus Medium', 'Albertus';
  font-weight:800;
  font-style:normal;
  font-size:22px;
  color:#EB3212;
}
#u122_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FF3948;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:109px;
  width:19px;
  height:17px;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FF3948;
}
#u123_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:1px;
  width:25px;
  height:25px;
  font-family:'.萍方-简 中黑体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u124_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:25px;
  word-wrap:break-word;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:0px;
  width:25px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u126 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:393px;
  width:370px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u115_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:400px;
  height:479px;
  visibility:hidden;
  background-image:none;
}
#u115_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:443px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:400px;
  height:443px;
}
#u128_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:33px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:326px;
  width:164px;
  height:33px;
}
#u129_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:33px;
  background:inherit;
  background-color:rgba(238, 252, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u129.selected {
}
#u129_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:160px;
  word-wrap:break-word;
}
#u130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:33px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:326px;
  width:164px;
  height:33px;
}
#u130_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:33px;
  background:inherit;
  background-color:rgba(238, 252, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u130.selected {
}
#u130_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:160px;
  word-wrap:break-word;
}
#u131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:18px;
  background:inherit;
  background-color:rgba(254, 239, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#CC6132;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:139px;
  width:100px;
  height:18px;
  font-family:'.萍方-简 细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#CC6132;
}
#u131_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  font-size:16px;
  color:#FF3948;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:106px;
  width:17px;
  height:22px;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  font-size:16px;
  color:#FF3948;
}
#u132_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Albertus Extra Bold', 'Albertus Medium', 'Albertus';
  font-weight:800;
  font-style:normal;
  font-size:22px;
  color:#EB3212;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:101px;
  width:54px;
  height:27px;
  font-family:'Albertus Extra Bold', 'Albertus Medium', 'Albertus';
  font-weight:800;
  font-style:normal;
  font-size:22px;
  color:#EB3212;
}
#u133_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FF3948;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:109px;
  width:19px;
  height:17px;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FF3948;
}
#u134_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:1px;
  width:25px;
  height:25px;
  font-family:'.萍方-简 中黑体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u135_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:25px;
  word-wrap:break-word;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:0px;
  width:25px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u137 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:393px;
  width:370px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
