body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:370px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:760px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u289 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:760px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u289 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u289_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u290 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:143px;
  width:360px;
  height:105px;
  display:flex;
  transition:none;
}
#u290 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:105px;
}
#u290_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u291 {
  position:fixed;
  left:0px;
  bottom:0px;
}
#u291_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:370px;
  height:49px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u291_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u292 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:49px;
  display:flex;
  transition:none;
}
#u292 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:49px;
}
#u292_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u293 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:0px;
  width:52px;
  height:49px;
  display:flex;
  transition:none;
  text-align:center;
  line-height:18px;
}
#u293 .text {
  position:absolute;
  align-self:center;
  padding:4px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:49px;
}
#u293_img.mouseDown {
}
#u293.mouseDown {
}
#u293_img.selected {
}
#u293.selected {
}
#u293_img.mouseDown.selected {
}
#u293.mouseDown.selected {
}
#u293_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u294 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:0px;
  width:52px;
  height:49px;
  display:flex;
  transition:none;
  text-align:center;
}
#u294 .text {
  position:absolute;
  align-self:center;
  padding:4px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:49px;
}
#u294_img.mouseDown {
}
#u294.mouseDown {
}
#u294_img.selected {
}
#u294.selected {
}
#u294_img.mouseDown.selected {
}
#u294.mouseDown.selected {
}
#u294_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u295 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:0px;
  width:52px;
  height:49px;
  display:flex;
  transition:none;
  text-align:center;
}
#u295 .text {
  position:absolute;
  align-self:center;
  padding:4px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:49px;
}
#u295_img.mouseDown {
}
#u295.mouseDown {
}
#u295_img.selected {
}
#u295.selected {
}
#u295_img.mouseDown.selected {
}
#u295.mouseDown.selected {
}
#u295_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u296 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:0px;
  width:52px;
  height:49px;
  display:flex;
  transition:none;
  text-align:center;
}
#u296 .text {
  position:absolute;
  align-self:center;
  padding:4px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:49px;
}
#u296_img.mouseDown {
}
#u296.mouseDown {
}
#u296_img.selected {
}
#u296.selected {
}
#u296_img.mouseDown.selected {
}
#u296.mouseDown.selected {
}
#u296_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u297_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:12px;
}
#u297 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:153px;
  width:48px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:12px;
}
#u297 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u297_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u298 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:184px;
  width:25px;
  height:20px;
  display:flex;
  transition:none;
}
#u298 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u298_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u299_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#AAAAAA;
}
#u299 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:214px;
  width:36px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#AAAAAA;
}
#u299 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u299_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u300_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#AAAAAA;
}
#u300 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:214px;
  width:36px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#AAAAAA;
}
#u300 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u300_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u301_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#AAAAAA;
}
#u301 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:214px;
  width:54px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#AAAAAA;
}
#u301 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u301_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u302_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#AAAAAA;
}
#u302 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:214px;
  width:48px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#AAAAAA;
}
#u302 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u302_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u303 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u304_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#AAAAAA;
}
#u304 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:214px;
  width:36px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#AAAAAA;
}
#u304 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u304_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u305 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:184px;
  width:25px;
  height:17px;
  display:flex;
  transition:none;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#2FB157;
}
#u305 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u305_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
}
#u305_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u306 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:187px;
  width:5px;
  height:5px;
  display:flex;
  transition:none;
}
#u306 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u306_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u307 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:187px;
  width:5px;
  height:5px;
  display:flex;
  transition:none;
}
#u307 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u307_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u307_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u308 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:183px;
  width:25px;
  height:20px;
  display:flex;
  transition:none;
}
#u308 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u308_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u308_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u309 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:191px;
  width:5px;
  height:5px;
  display:flex;
  transition:none;
}
#u309 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u309_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u309_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u310 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:191px;
  width:5px;
  height:5px;
  display:flex;
  transition:none;
}
#u310 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u310_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u310_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u311 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:181px;
  width:25px;
  height:25px;
  display:flex;
  transition:none;
}
#u311 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u311_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u311_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u312 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:190px;
  width:8px;
  height:8px;
  display:flex;
  transition:none;
}
#u312 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u312_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u312_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u313 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:181px;
  width:21px;
  height:25px;
  display:flex;
  transition:none;
}
#u313 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:25px;
}
#u313_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u314 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:192px;
  width:11px;
  height:2px;
  display:flex;
  transition:none;
}
#u314 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u314_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:14px;
  height:5px;
}
#u314_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u315 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:195px;
  width:11px;
  height:2px;
  display:flex;
  transition:none;
}
#u315 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u315_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:14px;
  height:5px;
}
#u315_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u316 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:199px;
  width:11px;
  height:2px;
  display:flex;
  transition:none;
}
#u316 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u316_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:14px;
  height:5px;
}
#u316_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u317 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:253px;
  width:360px;
  height:195px;
  display:flex;
  transition:none;
}
#u317 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:195px;
}
#u317_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u318_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:12px;
}
#u318 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:261px;
  width:48px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:12px;
}
#u318 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u318_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u319 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:293px;
  width:25px;
  height:25px;
  display:flex;
  transition:none;
}
#u319 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u319_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:35px;
  height:35px;
}
#u319_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u320 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u321 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:292px;
  width:20px;
  height:27px;
  display:flex;
  transition:none;
}
#u321 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 10.100000000000001px 2px;
  box-sizing:border-box;
  width:100%;
}
#u321_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:37px;
}
#u321_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u322 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:296px;
  width:9px;
  height:9px;
  display:flex;
  transition:none;
}
#u322 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u322_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:19px;
  height:19px;
}
#u322_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u323_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#AAAAAA;
}
#u323 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:328px;
  width:48px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#AAAAAA;
}
#u323 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u323_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u324_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#AAAAAA;
}
#u324 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:328px;
  width:24px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#AAAAAA;
}
#u324 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u324_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u325 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:34px;
  width:360px;
  height:105px;
  display:flex;
  transition:none;
}
#u325 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u325_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:105px;
}
#u325_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u326 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:295px;
  width:25px;
  height:21px;
  display:flex;
  transition:none;
}
#u326 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u326_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:35px;
  height:31px;
}
#u326_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u327_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#AAAAAA;
}
#u327 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:328px;
  width:24px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#AAAAAA;
}
#u327 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u327_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u328_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:17px;
}
#u328 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:75px;
  width:28px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:17px;
}
#u328 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u328_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u329_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:14px;
  color:#AAAAAA;
}
#u329 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:108px;
  width:28px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:14px;
  color:#AAAAAA;
}
#u329 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u329_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u330_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:17px;
}
#u330 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:75px;
  width:28px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:17px;
}
#u330 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u330_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u331_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:14px;
  color:#AAAAAA;
}
#u331 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:108px;
  width:56px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:14px;
  color:#AAAAAA;
}
#u331 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u331_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u332 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:23px;
  width:60px;
  height:60px;
  display:flex;
  transition:none;
}
#u332 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u332_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u332_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-style:normal;
}
#u333 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:41px;
  width:102px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-style:normal;
}
#u333 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u333_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u334_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(127, 127, 127, 0);
  border-radius:0px;
  filter:drop-shadow(1px 1px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-family:"FontAwesome", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#7F7F7F;
  text-align:center;
}
#u334 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:292px;
  width:30px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"FontAwesome", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#7F7F7F;
  text-align:center;
}
#u334 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u334_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u335_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#AAAAAA;
}
#u335 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:328px;
  width:48px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#AAAAAA;
}
#u335 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u335_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u336_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#AAAAAA;
}
#u336 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:328px;
  width:24px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#AAAAAA;
}
#u336 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u336_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u337 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:297px;
  width:25px;
  height:21px;
  display:flex;
  transition:none;
}
#u337 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u337_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:35px;
  height:31px;
}
#u337_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u338 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:383px;
  width:25px;
  height:23px;
  display:flex;
  transition:none;
}
#u338 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u338_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:35px;
  height:33px;
}
#u338_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u339_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#AAAAAA;
}
#u339 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:413px;
  width:24px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#AAAAAA;
}
#u339 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u339_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u340_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#AAAAAA;
}
#u340 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:413px;
  width:48px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#AAAAAA;
}
#u340 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u340_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u341 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:381px;
  width:21px;
  height:25px;
  display:flex;
  transition:none;
}
#u341 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u341_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:31px;
  height:35px;
}
#u341_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u342 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:383px;
  width:25px;
  height:25px;
  display:flex;
  transition:none;
}
#u342 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u342_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u343_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#AAAAAA;
}
#u343 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:413px;
  width:48px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#AAAAAA;
}
#u343 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u343_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
