body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:866px;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:866px;
}
#u279_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u281 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:50px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u283 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:250;
  font-style:normal;
  font-size:10px;
  color:#FF9900;
  line-height:18px;
}
#u284 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:238px;
  width:22px;
  height:18px;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:250;
  font-style:normal;
  font-size:10px;
  color:#FF9900;
  line-height:18px;
}
#u284_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift SemiBold SemiCondensed', 'Bahnschrift SemiCondensed', 'Bahnschrift';
  font-weight:600;
  font-style:normal;
  font-size:20px;
  color:#FF9900;
  line-height:18px;
}
#u285 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:238px;
  width:54px;
  height:18px;
  font-family:'Bahnschrift SemiBold SemiCondensed', 'Bahnschrift SemiCondensed', 'Bahnschrift';
  font-weight:600;
  font-style:normal;
  font-size:20px;
  color:#FF9900;
  line-height:18px;
}
#u285_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
