body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:161px;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:82px;
  width:400px;
  height:161px;
}
#u211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:916px;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:243px;
  width:400px;
  height:916px;
}
#u212_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213 {
  position:fixed;
  left:0px;
  top:0px;
}
#u213_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:400px;
  height:82px;
  background-image:none;
}
#u213_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:82px;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:82px;
}
#u214_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中黑体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:53px;
  width:73px;
  height:25px;
  font-family:'.萍方-简 中黑体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u216_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 极细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1160px;
  width:400px;
  height:40px;
  font-family:'.萍方-简 极细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u218_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:396px;
  word-wrap:break-word;
}
#u219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1180px;
  width:60px;
  height:1px;
}
#u219_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:1180px;
  width:60px;
  height:1px;
}
#u220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
