body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:277px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
.u234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 0.4980392156862745);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
.u234 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:138px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
.u234 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u234_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u235 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:25px;
  width:88px;
  height:88px;
  display:flex;
  transition:none;
}
.u235 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:88px;
}
.u235_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 138, 0, 1);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
.u236 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:16px;
  width:26px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
.u236 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u236_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:12px;
}
.u237 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:15px;
  width:94px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:12px;
}
.u237 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u237_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#AAAAAA;
}
.u238 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:67px;
  width:108px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#AAAAAA;
}
.u238 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u238_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:14px;
  color:#FF3948;
}
.u239 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:86px;
  width:47px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:14px;
  color:#FF3948;
}
.u239 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u239_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:14px;
  color:#FF3948;
}
.u240 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:108px;
  width:59px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:14px;
  color:#FF3948;
}
.u240 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u240_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u241 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:98px;
  width:30px;
  height:30px;
  display:flex;
  transition:none;
  font-family:"FontAwesome", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
.u241 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
.u241_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:12px;
}
.u242 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:35px;
  width:135px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:12px;
}
.u242 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u242_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:1518px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
}
