body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
.u139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:130px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u139 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:130px;
}
.u139_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u140 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:10px;
  width:368px;
  height:120px;
}
.u140_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
.u141 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:20px;
  width:100px;
  height:100px;
}
.u141_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  line-height:18px;
}
.u142 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:20px;
  width:241px;
  height:36px;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  line-height:18px;
}
.u142_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  word-wrap:break-word;
}
.u143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:300;
  font-style:normal;
  font-size:10px;
  color:#E37B26;
  line-height:12px;
}
.u143 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:58px;
  width:212px;
  height:24px;
  font-family:'.萍方-简 细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:300;
  font-style:normal;
  font-size:10px;
  color:#E37B26;
  line-height:12px;
}
.u143_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
.u144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:40px;
  background:-webkit-linear-gradient(0deg, rgba(254, 244, 241, 1) 0%, rgba(254, 244, 241, 1) 0%, rgba(253, 253, 253, 1) 100%, rgba(253, 253, 253, 1) 100%);
  background:-moz-linear-gradient(90deg, rgba(254, 244, 241, 1) 0%, rgba(254, 244, 241, 1) 0%, rgba(253, 253, 253, 1) 100%, rgba(253, 253, 253, 1) 100%);
  background:linear-gradient(90deg, rgba(254, 244, 241, 1) 0%, rgba(254, 244, 241, 1) 0%, rgba(253, 253, 253, 1) 100%, rgba(253, 253, 253, 1) 100%);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u144 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:82px;
  width:242px;
  height:40px;
}
.u144_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
}
.u145 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:83px;
  width:52px;
  height:20px;
}
.u145_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#FF3948;
}
.u146 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:104px;
  width:13px;
  height:17px;
  font-family:'.萍方-简 细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#FF3948;
}
.u146_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
.u147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  color:#FF3948;
}
.u147 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:103px;
  width:15px;
  height:20px;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  color:#FF3948;
}
.u147_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
.u148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#FF3948;
}
.u148 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:104px;
  width:25px;
  height:17px;
  font-family:'.萍方-简 细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#FF3948;
}
.u148_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
.u149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  color:#FF3948;
}
.u149 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:103px;
  width:29px;
  height:20px;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  color:#FF3948;
}
.u149_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
.u151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 182, 143, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中黑体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.u151 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:88px;
  width:70px;
  height:28px;
  font-family:'.萍方-简 中黑体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.u151_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u138-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:130px;
}
#u138-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:130px;
  width:400px;
  height:130px;
}
#u138-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:260px;
  width:400px;
  height:130px;
}
#u138-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:390px;
  width:400px;
  height:130px;
}
#u138-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:520px;
  width:400px;
  height:130px;
}
#u138-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:650px;
  width:400px;
  height:130px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:226px;
  width:400px;
  height:780px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u152 {
  position:fixed;
  left:0px;
  top:0px;
}
#u152_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:400px;
  height:82px;
  background-image:none;
}
#u152_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:82px;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:82px;
}
#u153_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中黑体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:53px;
  width:73px;
  height:25px;
  font-family:'.萍方-简 中黑体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u154_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:155px;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:82px;
  width:400px;
  height:155px;
}
#u157_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 极细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1006px;
  width:400px;
  height:40px;
  font-family:'.萍方-简 极细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u159_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:396px;
  word-wrap:break-word;
}
