body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
.u188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:130px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:130px;
}
.u188_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u189 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:10px;
  width:368px;
  height:120px;
}
.u189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
.u190 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:20px;
  width:100px;
  height:100px;
}
.u190_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  line-height:18px;
}
.u191 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:20px;
  width:241px;
  height:36px;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  line-height:18px;
}
.u191_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  word-wrap:break-word;
}
.u192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:300;
  font-style:normal;
  font-size:10px;
  color:#E37B26;
  line-height:12px;
}
.u192 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:58px;
  width:212px;
  height:24px;
  font-family:'.萍方-简 细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:300;
  font-style:normal;
  font-size:10px;
  color:#E37B26;
  line-height:12px;
}
.u192_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
.u193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:40px;
  background:-webkit-linear-gradient(0deg, rgba(254, 244, 241, 1) 0%, rgba(254, 244, 241, 1) 0%, rgba(253, 253, 253, 1) 100%, rgba(253, 253, 253, 1) 100%);
  background:-moz-linear-gradient(90deg, rgba(254, 244, 241, 1) 0%, rgba(254, 244, 241, 1) 0%, rgba(253, 253, 253, 1) 100%, rgba(253, 253, 253, 1) 100%);
  background:linear-gradient(90deg, rgba(254, 244, 241, 1) 0%, rgba(254, 244, 241, 1) 0%, rgba(253, 253, 253, 1) 100%, rgba(253, 253, 253, 1) 100%);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u193 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:82px;
  width:242px;
  height:40px;
}
.u193_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#FF3948;
}
.u194 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:104px;
  width:13px;
  height:17px;
  font-family:'.萍方-简 细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#FF3948;
}
.u194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
.u195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  color:#FF3948;
}
.u195 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:103px;
  width:15px;
  height:20px;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  color:#FF3948;
}
.u195_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
.u196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#FF3948;
}
.u196 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:104px;
  width:25px;
  height:17px;
  font-family:'.萍方-简 细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#FF3948;
}
.u196_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
.u197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  color:#FF3948;
}
.u197 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:103px;
  width:29px;
  height:20px;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  color:#FF3948;
}
.u197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
.u198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
}
.u198 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:83px;
  width:52px;
  height:22px;
}
.u198_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 182, 143, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中黑体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.u200 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:88px;
  width:70px;
  height:28px;
  font-family:'.萍方-简 中黑体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.u200_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u187-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:130px;
}
#u187-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:130px;
  width:400px;
  height:130px;
}
#u187-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:260px;
  width:400px;
  height:130px;
}
#u187-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:390px;
  width:400px;
  height:130px;
}
#u187-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:520px;
  width:400px;
  height:130px;
}
#u187-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:650px;
  width:400px;
  height:130px;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:233px;
  width:400px;
  height:780px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u201 {
  position:fixed;
  left:0px;
  top:0px;
}
#u201_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:400px;
  height:82px;
  background-image:none;
}
#u201_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:82px;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:82px;
}
#u202_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中黑体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:53px;
  width:73px;
  height:25px;
  font-family:'.萍方-简 中黑体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u205_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:161px;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:82px;
  width:400px;
  height:161px;
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 极细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1013px;
  width:400px;
  height:40px;
  font-family:'.萍方-简 极细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u208_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:396px;
  word-wrap:break-word;
}
#u209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1033px;
  width:60px;
  height:1px;
}
#u209_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:1033px;
  width:60px;
  height:1px;
}
#u210_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
