body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
.u161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:130px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u161 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:130px;
}
.u161_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u162 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:10px;
  width:368px;
  height:120px;
}
.u162_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
.u163 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:20px;
  width:100px;
  height:100px;
}
.u163_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  line-height:18px;
}
.u164 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:20px;
  width:241px;
  height:36px;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  line-height:18px;
}
.u164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  word-wrap:break-word;
}
.u165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:300;
  font-style:normal;
  font-size:10px;
  color:#E37B26;
  line-height:12px;
}
.u165 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:58px;
  width:212px;
  height:24px;
  font-family:'.萍方-简 细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:300;
  font-style:normal;
  font-size:10px;
  color:#E37B26;
  line-height:12px;
}
.u165_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
.u166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:40px;
  background:-webkit-linear-gradient(0deg, rgba(254, 244, 241, 1) 0%, rgba(254, 244, 241, 1) 0%, rgba(253, 253, 253, 1) 100%, rgba(253, 253, 253, 1) 100%);
  background:-moz-linear-gradient(90deg, rgba(254, 244, 241, 1) 0%, rgba(254, 244, 241, 1) 0%, rgba(253, 253, 253, 1) 100%, rgba(253, 253, 253, 1) 100%);
  background:linear-gradient(90deg, rgba(254, 244, 241, 1) 0%, rgba(254, 244, 241, 1) 0%, rgba(253, 253, 253, 1) 100%, rgba(253, 253, 253, 1) 100%);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u166 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:82px;
  width:242px;
  height:40px;
}
.u166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#FF3948;
}
.u167 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:104px;
  width:13px;
  height:17px;
  font-family:'.萍方-简 细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#FF3948;
}
.u167_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
.u168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  color:#FF3948;
}
.u168 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:103px;
  width:15px;
  height:20px;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  color:#FF3948;
}
.u168_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
.u169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#FF3948;
}
.u169 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:104px;
  width:25px;
  height:17px;
  font-family:'.萍方-简 细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#FF3948;
}
.u169_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
.u170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  color:#FF3948;
}
.u170 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:103px;
  width:29px;
  height:20px;
  font-family:'.萍方-简 中粗体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:600;
  font-style:normal;
  color:#FF3948;
}
.u170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
.u171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
}
.u171 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:83px;
  width:52px;
  height:22px;
}
.u171_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 182, 143, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中黑体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.u173 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:88px;
  width:70px;
  height:28px;
  font-family:'.萍方-简 中黑体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.u173_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u160-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:130px;
}
#u160-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:130px;
  width:400px;
  height:130px;
}
#u160-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:260px;
  width:400px;
  height:130px;
}
#u160-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:390px;
  width:400px;
  height:130px;
}
#u160-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:520px;
  width:400px;
  height:130px;
}
#u160-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:650px;
  width:400px;
  height:130px;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:233px;
  width:400px;
  height:780px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u174 {
  position:fixed;
  left:0px;
  top:0px;
}
#u174_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:400px;
  height:82px;
  background-image:none;
}
#u174_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:82px;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:82px;
}
#u175_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中黑体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:53px;
  width:73px;
  height:25px;
  font-family:'.萍方-简 中黑体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u178_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:161px;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:82px;
  width:400px;
  height:161px;
}
#u179_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 极细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1013px;
  width:400px;
  height:40px;
  font-family:'.萍方-简 极细体', '.萍方-简 中黑体', '.萍方-简';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u181_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:396px;
  word-wrap:break-word;
}
