body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:866px;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:866px;
}
#u249_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:50px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u252 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:58px;
  width:262px;
  height:25px;
}
#u252_input {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:250;
  font-style:normal;
  font-size:10px;
  color:#FF9900;
  line-height:18px;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:316px;
  width:22px;
  height:18px;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:250;
  font-style:normal;
  font-size:10px;
  color:#FF9900;
  line-height:18px;
}
#u255_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u256_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift SemiBold SemiCondensed', 'Bahnschrift SemiCondensed', 'Bahnschrift';
  font-weight:600;
  font-style:normal;
  font-size:20px;
  color:#FF9900;
  line-height:18px;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:316px;
  width:54px;
  height:18px;
  font-family:'Bahnschrift SemiBold SemiCondensed', 'Bahnschrift SemiCondensed', 'Bahnschrift';
  font-weight:600;
  font-style:normal;
  font-size:20px;
  color:#FF9900;
  line-height:18px;
}
#u256_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:250;
  font-style:normal;
  font-size:10px;
  color:#FF9900;
  line-height:18px;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:440px;
  width:22px;
  height:18px;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:250;
  font-style:normal;
  font-size:10px;
  color:#FF9900;
  line-height:18px;
}
#u259_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift SemiBold SemiCondensed', 'Bahnschrift SemiCondensed', 'Bahnschrift';
  font-weight:600;
  font-style:normal;
  font-size:20px;
  color:#FF9900;
  line-height:18px;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:440px;
  width:54px;
  height:18px;
  font-family:'Bahnschrift SemiBold SemiCondensed', 'Bahnschrift SemiCondensed', 'Bahnschrift';
  font-weight:600;
  font-style:normal;
  font-size:20px;
  color:#FF9900;
  line-height:18px;
}
#u260_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:250;
  font-style:normal;
  font-size:10px;
  color:#FF9900;
  line-height:18px;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:562px;
  width:22px;
  height:18px;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:250;
  font-style:normal;
  font-size:10px;
  color:#FF9900;
  line-height:18px;
}
#u263_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u264_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift SemiBold SemiCondensed', 'Bahnschrift SemiCondensed', 'Bahnschrift';
  font-weight:600;
  font-style:normal;
  font-size:20px;
  color:#FF9900;
  line-height:18px;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:562px;
  width:54px;
  height:18px;
  font-family:'Bahnschrift SemiBold SemiCondensed', 'Bahnschrift SemiCondensed', 'Bahnschrift';
  font-weight:600;
  font-style:normal;
  font-size:20px;
  color:#FF9900;
  line-height:18px;
}
#u264_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u267_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:250;
  font-style:normal;
  font-size:10px;
  color:#FF9900;
  line-height:18px;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:692px;
  width:22px;
  height:18px;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:250;
  font-style:normal;
  font-size:10px;
  color:#FF9900;
  line-height:18px;
}
#u267_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u268_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift SemiBold SemiCondensed', 'Bahnschrift SemiCondensed', 'Bahnschrift';
  font-weight:600;
  font-style:normal;
  font-size:20px;
  color:#FF9900;
  line-height:18px;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:692px;
  width:54px;
  height:18px;
  font-family:'Bahnschrift SemiBold SemiCondensed', 'Bahnschrift SemiCondensed', 'Bahnschrift';
  font-weight:600;
  font-style:normal;
  font-size:20px;
  color:#FF9900;
  line-height:18px;
}
#u268_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:250;
  font-style:normal;
  font-size:10px;
  color:#FF9900;
  line-height:18px;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:802px;
  width:22px;
  height:18px;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:250;
  font-style:normal;
  font-size:10px;
  color:#FF9900;
  line-height:18px;
}
#u271_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bahnschrift SemiBold SemiCondensed', 'Bahnschrift SemiCondensed', 'Bahnschrift';
  font-weight:600;
  font-style:normal;
  font-size:20px;
  color:#FF9900;
  line-height:18px;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:802px;
  width:54px;
  height:18px;
  font-family:'Bahnschrift SemiBold SemiCondensed', 'Bahnschrift SemiCondensed', 'Bahnschrift';
  font-weight:600;
  font-style:normal;
  font-size:20px;
  color:#FF9900;
  line-height:18px;
}
#u272_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
